.upload-area {
  width: 100%;
  max-width: 650px;
  border: 1px dashed #334155;
  background: #0f172a;
  padding: 80px 40px;
  border-radius: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-area:hover {
  border-color: #3b82f6;
  background: #1e293b;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.1);
}